<div class="row marketing">
    <div ng-controller="pb.facebook.LoginCtrl">
        <button type="button"
                class="btn btn-primary btn-large"
                ng-show="!logged"
                ng-disabled="!facebookReady"
                ng-click="IntentLogin()">
                    Login with Facebook
        </button>
        <button type="button"
                class="btn btn-danger btn-large"
                ng-show="logged"
                ng-disabled="!facebookReady"
                ng-click="logout()">
                    Logout of Facebook
        </button>

        <br>Debug:
        <div>
            <debug val="user"></debug>
        </div>

        <div ng-show="logged">
            <button type="button"
                    class="btn btn-secondary btn-large"
                    ng-show="logged"
                    ng-disabled="!facebookReady"
                    ng-click="getPhotoAlbums()">
                        Get Photo Albums
            </button>
            <ul>
                <li ng-repeat="album in albums">{{album.name}} ({{album.count}})</li>
            </ul>
        </div>
    </div>
</div>
